.shadow{
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 2%;
    border-radius: 1%;
}

.main-center{
    margin: 0 auto; 
    width: 90%; 
}

.spacing{
    margin: 7% 0;
}

.padd-button{
    background-color:#EFBC3D;
    margin: 1% 0;
    width:auto;
    padding: 1% 10%;
}

.main-padd{
   
    margin: 2% auto;
    width: 90%;
    
}

.padd{

    padding: 1% 0;
}
