// .tr-encabezado {
//     background-color: #003E87 !important; 
//     color: #fff !important;
//     padding: 6px !important;
// }

// .tr-encabezado-1 {
//     background-color: #003E87 !important; 
//     color: #fff !important;
//     padding: 6px !important;
// }

// th .tr-encabezado {
//     padding-top: 4px !important;
//     padding-bottom: 4px !important;
// }

// .p-centro {
//     text-align: center !important;
// }

// h2 {
//     padding-left: 1rem;
//     font-size: 1.5rem !important;
//     font-weight: 700;
// }

// th.fontSize { 
//     font-size: 12px !important;
// }

// .fontSize { 
//     font-size: 11px !important;
// }

// // input {
// //     font-size: 13px !important;
// //     padding: 4px !important;
// // }

// .tr-encabezado td {
//     padding: 5px 7px !important;
// }

// .container-div {
// 	display: flex;
// 	flex-direction: row;
// 	flex-wrap: wrap;
// 	justify-content: flex-end;
// 	align-items: stretch;
// 	align-content: stretch;
// }

// .span-w1 {
//     font-size: 13px !important;
//     font-weight: 500;
//     width: 130px !important;
//     margin: 0 5px 0 5px;
// }

// .span-w2 {
//     font-size: 13px !important;
//     width: 100%;
//     margin: 0 5px 0 5px;
// }

// .span-w3 {
//     font-size: 13px !important;
//     font-weight: 500;
//     width: 150px !important;
//     margin-left: 10px;
// }

// .span-w4 {
//     width: 70px !important;
//     margin: 0 5px 0 5px;
// }

// .input-totales {
//     width: 70px;
// }

// .span-total-pedido {
//     border: 0.5px solid #46464646;
//     text-align: center;
//     justify-content: center;
//     border-radius: 5px;
//     height: 36px;
//     padding-top: 2px;
// }

// .span-items {
//     width: 70px;
// }

// .span-cant-total {
//     width: 80px;
// }

// button {
//     font-size: 13px !important;
// }

// .estado-pedido {
//     font-size: 1.3rem;
//     font-weight: 600;
//     color: #003e87;
// }

// .spinner {
//     color: #fff;
//     font-size: 20px;
// }

// ::ng-deep #btnImport .p-button-warning  {
//     color: #fff !important;
//     background-color:  #FBC02D !important;
//     border: none !important;
// }

// ::ng-deep #btnImport .p-button-warning:hover {
//     color: #fff !important;
//     background-color:  #FBC02D !important;
//     border: none !important;
// }

// ::ng-deep p-card {
//     background-color: red !important;
// }

// ::ng-deep .p-column-filter button:hover {
//     background: #1b5fad !important;
//     color: white !important;
// }

// ::ng-deep .p-card .p-card-content {
//     padding: 1rem 0 0 0 !important;
//     box-shadow: none !important;
// }

// ::ng-deep .p-card {
//     box-shadow: none !important;
// }

// // ::ng-deep .p-dropdown {
// //     min-width: 170px;
// //     max-width: 170px;
// //     max-height: 32px;
// //     font-size: 14px;
// // }  
  
// ::ng-deep .p-dropdown .p-dropdown-label{
//     font-size: 14px;
// }

// ::ng-deep .p-fluid .p-calendar .p-inputtext {
//     height: 32px !important;
//     font-size: 14px !important;
// }

// .algo {
//     height: 30px !important;
//     min-height: 30px !important;
//     max-height: 30px !important;
// }

// // ? ========================= BOTONES: =========================
// $color-add: #1e9c85;
// // $color-add: #035941;
// $color-add-hover: #0b805e;
// $color-conf-pedi: #025373;
// $color-conf-pedi-hover: #3290A6;
// $color-conf-cero: #D95E52;
// $color-conf-cero-hover: #be5349;

// .btn-add {
//     background-color: $color-add;
//     border: $color-add;
// }

// .btn-add:hover {
//     background-color: $color-add-hover;
//     border: $color-add-hover;
// }

// .btn-conf-cero {
//     background-color: $color-conf-cero;
//     border: $color-conf-cero;
// }

// .btn-conf-cero:hover {
//     background-color: $color-conf-cero-hover;
//     border: $color-conf-cero-hover;
// }

// .btn-conf-pedi {
//     background-color: $color-conf-pedi;
//     border: $color-conf-pedi;
// }

// .btn-conf-pedi:hover {
//     background-color: $color-conf-pedi-hover;
//     border: $color-conf-pedi-hover;
// }

// // ? Para evitar que un select se esconda en una columna.
// // ::ng-deep td p-cellEditor .p-dropdown {
// //     min-width: 100%;
// //     max-width: 100%;
// //     max-height: 35px;
// //     font-size: 14px;
// // } 
  
// ::ng-deep td p-cellEditor .p-dropdown .p-dropdown-label{
//     font-size: 14px;
// }

// ::ng-deep div .p-paginator {
//     font-size: 25px;
//     padding: 0rem 0rem;
//     border-radius: 3px;
// }

// ::ng-deep div .p-paginator button{
//     font-size: 14px;
// }

::ng-deep th .pi {
    color: white !important;
}

// // ? ============================= ESTADOS ==============================
$color-white: #fff;
$color-black: #000;
$color-blue: #003E87;
$color-celeste: #53a1fa;
$color-green: green;
$color-purple: #8c239e;
$color-orange: rgb(255, 145, 0);
$color-red: #D95E52;
$color-brown: #732A10;
$color-gray: #747E7E;

.status-badge-blue {
    color: $color-white !important;
    background-color: $color-blue !important;
}

.status-badge-celeste {
    color: $color-white !important;
    background-color: $color-celeste !important;
}

.status-badge-green {
    color: $color-white !important;
    background-color: $color-green !important;
}

.status-badge-purple {
    color: $color-white !important;
    background-color: $color-purple !important;
}

.status-badge-orange {
    color: $color-white !important;
    background-color: $color-orange !important;
}

.status-badge-red {
    color: $color-white !important;
    background-color: $color-red !important;
}

.status-badge-dark {
    color: $color-white !important;
    background-color: $color-black !important;
}

.status-badge-brown {
    color: $color-white !important;
    background-color: $color-brown;
}

.status-badge-gray {
    color: $color-white !important;
    background-color: $color-gray !important;
}

.facturado-completo {
    background-color: #b6b6b679;
}

.btn-color-borrar {
    color: #BF0413 !important;
    font-weight: 500;
    border: 1px solid #BF0413;
}

.btn-color-borrar:hover {
    color: #fff !important; 
    font-weight: 500;
    background-color: #BF0413 !important;
}

.btn-color-nuevo {
    color: #689F38 !important;
    font-weight: 500;
    border: 1px solid #689F38!important;
}

.btn-color-nuevo:hover {
    color: #fff !important;
    font-weight: 500;
    background-color: #689F38 !important;
}

.btn-color-guardar {
    color: #8c239e !important;
    font-weight: 500;
    border: 1px solid #8c239e !important;
}

.btn-color-guardar:hover {
    color: #fff !important;
    font-weight: 500;
    background-color: #8c239e !important;
}

.btn-color-agregar {
    color: #003e87 !important;
    font-weight: 500;
    border: 1px solid #003e87 !important;
}

.btn-color-agregar:hover {
    color: #fff !important;
    font-weight: 500;
    background-color: #003e87 !important;
}